.navbar-nav {
  margin-left: auto;
  /* font-size: 20px; */
}

.nav-item{
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 20;
  color:white;
  text-align: left; /* Aligns the text to the left */
}

.navbar-brand{
  height:30;
}