.navbar-nav {
  margin-left: auto;
  /* font-size: 18px;
  font-weight: 100; */
}
.nav-item{
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 20;
  color:white;
  text-align: left; /* Aligns the text to the left */
}

.navbar-brand{
  height:30;
}
.vid-container {
  height: 100vh;
  overflow: hidden;
}
.sites img {
  height: 32%;
  width: 32%;
  padding: 20px;
  margin-left: 100px;
  margin-top: -10px;
}
.sites2 img {
  height: 32%;
  width: 32%;
  padding: 20px;
  margin-left: 325px;
  margin-top: -10px;
}

.footer{
  text-align: left;
  padding:200px;
  width: 100%;
}